@import "./userList.css";

.updateButton {
  background-color: #f72585;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.updateButton:hover {
  background-color: #ff0676;
}

@media (max-width: 900px) {
  .updateButton {
    font-size: 0.8rem;
  }
}
